.Chat {
    background: #1c1c1c;
    flex-grow: 4;
    border-radius: 24px;
    height: calc(100vh - 100px);
    display: flex;
    text-align: left;
    overflow-y: auto;
    flex-direction: column;
    align-items: stretch;

    p {
        margin: 0;
        color: #ffffff;
        padding-top: 6px;
    }
}

.message {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: 12pt;
    color: #ffffff;

    ul {
        margin: 0;
        color: #ffffff;
        padding-left: 16px;
    }

    a {
        text-decoration: none;
        transition: .3s;
        color: #e20074;
    }

    a:hover {
        color: #ff4d9e;
    }
}

.ai-message {
    display: flex;
    padding: 24px;
    gap: 16px;
    width: calc(100% - 48px);
    background: #191717;

    img {
        padding-top: 5px;
        width:26px;
        height:26px;
    }

    p {
        width: 100%;
    }

}

.icon-div {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.user-message {
    display: flex;
    padding: 24px;
    gap: 16px;
    width: calc(100% - 48px);

    img{
        width: 25px;
        height: 25px;
    }

    p {
        width: 100%;
        padding-top: 3px;
    }

}

.Chat::-webkit-scrollbar {
    color: transparent;
    width:0;
}

.btn-clear {
    background: #351c2a;
    border: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 24px;
    margin: 8px;
    transition: all 0.3s ease;
    width: 48px;
    height: 48px;
    position: fixed;
    bottom: 32px;
    left: 476px;
}

.btn-clear:hover {
    background: #4c2c3c;
}
